@import "~font-awesome/scss/font-awesome.scss";
@import "~admin-lte/dist/css/adminlte.css";
@import "~datatables-bootstrap/css/dataTables.bootstrap";

.card {
  overflow-x: scroll;
}
.main-buttons{
  color: #000; width: 100%;
}

.active {
  background: #02a8f4;
  color: #FFFFFF;
  .main-buttons{
    color: #fff; width: 100%;
  }

}